@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient-text {
    background: linear-gradient(90deg, #ffc107, #ff3d00, #ff0099, #4a00e0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}
